@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<main class="form-signin w-50 m-auto">
    <form>
        @* <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> *@
        <h1 class="h3 mb-3 fw-normal">Đổi mật khẩu</h1>

        <div class="form-floating">
            <input type="password" class="form-control" id="oldPass" name="oldPass" placeholder="name@example.com"
                required="required">
            <label for="floatingInput">Nhập mật khẩu hiện tại</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="newPass" name="newPass" placeholder="name@example.com"
                required="required">
            <label for="floatingInput">Nhập mật khẩu mới</label>
        </div>


        <div class="form-floating">
            <input type="password" class="form-control" id="reNewPass" name="reNewPass" placeholder="name@example.com"
                required="required">
            <label for="floatingInput">Nhập lại mật khẩu mới</label>
        </div>
        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-primary" id="btnSave" type="button">Lưu</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script type="text/javascript">
    var u;
    $(document).ready(function () { $("#btnSave").click(function () { changePass(); }); });
    function changePass() {
        var email = "";
        var password = document.getElementById("oldPass").value;
        var newPass=document.getElementById("newPass").value;
        var reNewPass=document.getElementById("reNewPass").value;
        if(newPass.trim()!=reNewPass.trim()){
            toastr.error("Mật khẩu mới không khớp", "Lỗi ", { timeOut: 3000 });
            return;
        }
        u = {
            oldPass:password, newPass:newPass
        }
        console.log(JSON.stringify(u));
        $.ajax({
            async: true,
            type: 'POST',
            data: u,
            url: '/change-pass/validate',
            success: function (response) {
                if (response.success == true) {
                    toastr.success("Đổi mật khẩu thành công!", "Thông báo", { timeOut: 3000 });
                    setTimeout(function () {
                        window.location.href = "/change-pass"; //will redirect to product (an ex: blog.html)
                    }, 3000);
                } else {
                    console.log('Phản hồi: ' + response.success);
                    toastr.error(response.message, "Lỗi ", { timeOut: 3000 });
                }
            },
            error: function () {
                toastr.error('Lỗi rồi', 'Error Alert', { timeOut: 3000 });
            }
        });
    }
</script>