@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th,
    td {
        text-align: center;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<div class="row" style="height:600px">
    <div class="column" style="width:100%">
        <button type="button" class="btn btn-primary" id="btnAdd">
            Thêm
        </button>
        <div class="modal fade" id="modalCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" id="formAddGV" style="margin-bottom:20px">
                            <div class="col-md-4">
                                <label for="validationDefault01" class="form-label">Tên loại sản phẩm</label>
                                <input type="text" class="form-control" id="ho">
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefault01" class="form-label">Hình ảnh</label>
                                <input type="text" class="form-control" id="ten">
                            </div>

                            <div class="col-md-12">
                                <label for="validationDefault01" class="form-label">Mô tả</label>
                                <textarea id="description" class="form-control" id="description" rows="4"
                                    cols="25"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnClose">Thoát</button>
                        <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        <br /> <br />
        <table id="table_Category" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Hình ảnh</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Người tạo</th>
                    <th>Người cập nhật</th>
                    <th>Mô tả</th>
                    <th>Chỉnh sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Hình ảnh</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Người tạo</th>
                    <th>Người cập nhật</th>
                    <th>Mô tả</th>
                    <th>Chỉnh sửa</th>
                    <th>Xóa</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    var id, name, image;
    var table_Category_rowIndex = 0;
    $(document).ready(function () {
        var table_Category = $('#table_Category').DataTable({
            'createdRow': function (row, data, dataIndex) {
                $(row).find('img').attr('src', data[2]);
            },
            'columnDefs': [{
                "targets": 2,
                "data": 'image',
                "render": function (data, type, full, meta) {
                    return '<img src=" ' + $('<div/>').text(data).html() + 'height="32" width="32">';
                }
            },
            {
                'targets': 9,
                'className': "dt-center editor-edit",
                'defaultContent': '<button><i class="fa fa-pencil" onclick="editFunction()" aria-hidden="true"/></button>',
                'orderable': false,
                'searchable': false
            },
            {
                'targets': 10,
                'className': "dt-center editor-delete",
                'defaultContent': '<button><i class="fa fa-trash"/></button>',
                'orderable': false,
                'searchable': false
            }
            ]
        });
        function init_Table_Category() {
            $.ajax({
                async: true,
                type: 'GET',
                url: '/admin/list-category',
                success: function (response) {

                    response.data = $.parseJSON(response.data);
                    console.log(JSON.stringify(response.data))
                    $.each(response.data, function (i, item) {
                        table_Category.row.add([item.id, item.name, item.image, item.status, item.created_date != null ? item.created_date.split('T')[0] : null, item.updated_date != null ? item.updated_date.split('T')[0] : null, item.created_by, item.updated_by, item.description]).draw(false);
                    });
                    id = table_Category.cell(0, 0).data();
                    name = table_Category.cell(0, 1).data();
                    table_Category.rows(0).nodes().to$().addClass('selected');
                },
                error: function () {
                    toastr.error('Lỗi rồi', 'Error Alert', { timeOut: 3000 });
                }
            });
        }
        init_Table_Category();
        $('#table_Category tbody').on('click', 'tr', function () {
            var index = table_Category.row(this).index();
            if ($(this).hasClass('selected') && table_Category_rowIndex != index) {
                $(this).removeClass('selected');
                table_Category_rowIndex = index;
            }
            else {
                table_Category.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                table_Category_rowIndex = index;
            }
        });
        $('#table_Category tbody').on('click', 'td', function () {
            var index = table_Category.row(this).index();
            if (index != table_Category_rowIndex) {
                name = table_Category.cell(this, 1).data();
                id = table_Category.cell(this, 0).data();
            }
        });

        $(document).ready(function () {
            // Open modal on page load
            $("#btnAdd").click(function () {
                $("#staticBackdropLabel").html("Thêm nhóm sản phẩm");
                $("#modalCategory").modal('show');
            });

            // Close modal on button click
            $("#btnClose").click(function () {
                $("#modalCategory").modal('hide');
            });
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
