@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Signin Template · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet">

</head>

<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form>
            @* <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> *@
            <h1 class="h3 mb-3 fw-normal">Đăng nhập</h1>

            <div class="alert alert-danger" id="error" role="alert" style=" font-size:12px; font-style:italic;">
                Mời bạn vui lòng đăng nhập
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                    required="required">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required="required">
                <label for="floatingPassword">Mật khẩu</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <a href="forgot-pass">Quên mật khẩu</a>
                </label>
                <label>
                    <a href="register">Đăng ký</a>
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" id="btnLogin" type="button">Đăng nhập</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script type="text/javascript">
        var u;
        $(document).ready(function () { $("#btnLogin").click(function () { login(); }); });
        function login() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            u = {
                email: email, password: password
            };
            console.log(JSON.stringify(u));
            $.ajax({
                async: true,
                type: 'POST',
                data: u,
                url: '/login/validate',
                success: function (response) {
                    if (response.success == true) {
                        toastr.success("Đăng nhập thành công!", "Thông báo", { timeOut: 1000 });
                        if (response.data["role_id"] == 1) {
                            setTimeout(function () {
                                window.location.href = "/admin"; //will redirect to product (an ex: blog.html)
                            }, 1000);
                        }

                    } else {
                        console.log('Phản hồi: ' + response.success);
                        toastr.error(response.message, "Lỗi " + JSON.stringify(response), { timeOut: 3000 });
                    }
                },
                error: function () {
                    toastr.error('Lỗi rồi', 'Error Alert', { timeOut: 3000 });
                }
            });
        }
    </script>
</body>

</html>
